body {
    background: url('https://images.unsplash.com/photo-1605913246699-a4fb20aab594?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80');
}

.navbar-brand {
    margin: 0px 0px 0px 20px;
}

#paragraph {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

#div-index {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#div-services,
#div-about {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

#div-services h2 {
    font-size: 18px;
    padding: 0px 35px 0px 35px;
}

#div-services ol {
    padding: 0px 35px 0px 55px;
}

#div-about p {
    text-align: justify;
    padding: 10px 35px 0px 35px;
}

#paragraph p {
    text-align: justify;
    padding: 10px 35px 0px 35px;
}

#div-about img {
    padding: 10px 35px 0px 35px;
    margin: 0px 0px 0px 155px;
}

#paragraph img {
    padding: 10px 35px 0px 35px;
    margin: 0px 0px 0px 155px;
}